$width: 100vw;
$height: 100vh;

html {
	width: 100vw;
	font-family: 'Oxygen', sans-serif;
	color: white;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	
	body {
		margin: 0;
		padding: 0;
		
		section.landing {
			background: rgb(244,168,48);
			background: linear-gradient(315deg, rgba(244,168,48,1) 0%, rgba(247,194,110,1) 100%);
			width: 100vw;
			height: 95vh;
			padding-top: 5vh;
			
			
			article.container {
				width: 65vw;
				margin: auto;
				

				@media (max-aspect-ratio: 9/15) {
					width: 85vw;
				}

				@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
					width: 85vw;
				}
				  
				@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
					width: 85vw;
				}
				

				//Don't touch the above

				div.text-container {
					width: 45%;
					height: 65vh;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					
					position: relative;
					z-index: 2;

					@media (max-aspect-ratio: 9/15) {
						width: 90%;
						height: 55vh;
						
					}

					@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
						width: 90%;
						height: 55vh;
					}

					  
					@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
						width: 75%;
						height: 50vh;
					}

					@media (min-aspect-ratio: 2/1) {
						height: 50vh;
					}
					div.logo {
						width: 100%;
						
						img.logo {
							width: 60%;
				
							
						}
						p.tagline {
							font-size: 1.5vw;
							padding: 0;
							margin: 8px 0;

							@media (max-aspect-ratio: 9/15) {
								font-size: 4vw;
							}

							@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
								font-size: 3.5vw;
							}

							  
							@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
								font-size: 3vw;
							}
						}

					}

					h1.value {
						//desktop
						width: 29vw;
						font-weight: 400;
						font-size: 2.6vw;
						line-height: 150%;

						//mobile
						@media (max-aspect-ratio: 9/15) {
							width: 85%;
							font-size: 7vw;
							line-height: 140%;
						}

						//wide screen
						@media (min-aspect-ratio: 2/1 ) {
							width: 40vw;
							font-size: 2vw;
						}

						@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
							width: 75%;
							font-size: 5.4vw;
						}

						
						  
						@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
							width: 90%;
							font-size: 4vw;
						}
					}
				}
			}

			div.action {
				width: 25vw;
				position: absolute;
				z-index: 3;
				bottom: 2vh;

				@media (max-aspect-ratio: 9/15) {
					width: 70%;
					bottom: 1vh;
				}

				@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
					width: 55vw;
					bottom: 3vh;
				}
				
				  
				@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
					width: 35vw;
					bottom: 3vh;
				}

				
				button {
					
					padding-top: 1vw;
					padding-bottom: 1vw;
					width: 100%;
					font-family: 'Oxygen', sans-serif;
					font-weight: 700;
					font-size: 1.2vw;
					background-color: white;
					display: block;
					
					text-decoration: none;
					border-radius: 50px;
					border: none;
					color: #F4A830;
					text-align: center;

					box-shadow: 2px 2px 5px 1.5px #00000026;

					@media (max-aspect-ratio: 9/15) {
						
						font-size: 4vw;
						padding: 5% 15%;
						width: 100%;

					}
					
					@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
						padding-top: 1.5vw;
						padding-bottom: 1.5vw;
						font-size: 3vw;
					}
					
					  
					@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
						padding-top: 1.5vw;
						padding-bottom: 1.5vw;
						font-size: 2vw;
					}
				}

				button:hover {

					box-shadow: 5px 5px 10px 3px #00000026;
					cursor: pointer;
				}

				a {
					text-decoration: none;
				}

				a.learn-more {
					display: flex;
					font-size: 1.5vw;
					justify-content: center;
					margin: 20px auto;
					text-decoration: none;
					color: white;
					font-weight: 700;

					@media (max-aspect-ratio: 9/15) {
						display: none;
					}
					
					@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
						display: none;
					}
					
					  
					@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
						font-size: 2vw;
					}
				}
			}

			div.visuals {
				position: absolute;
				height: 95vh;
				bottom: 5vh;
				right: 10vw;
				display: flex;
				flex-direction: column-reverse;

				@media (max-aspect-ratio: 9/15) {
					height: 70vh;
					right: 0vw;
					bottom: -8vh;

				}

				@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
					height: 70vh;
					right: 0vw;
					bottom: -5vh;
				}

				
				  
				@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
					height: 85vh;
					right: 0vw;
					bottom: 0vh;
				}
				

				img.img {
					height: 90%;

					@media (max-aspect-ratio: 9/15) {


					}

					  
					@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {

					}
				}
			}
		}

		section.open {
			background: #fafafa;
			width: 100vw;
			height: auto;
			margin: 0;
			padding: 0;
			position: relative;
			z-index: 1;

			article.container {
				
				width: 65vw;
				margin: auto;
				height: 50vh;
				display: flex;
				flex-direction: row-reverse;
				

				@media (max-aspect-ratio: 9/15) {
					width: 85vw;
					margin: auto;
					padding: 10% 0;

					height: 80vh;
					
					flex-direction: column-reverse;
					justify-content: center;
				}

				@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
					width: 85vw;
					margin: auto;
					padding: 10% 0;

					height: 80vh;
					
					flex-direction: column-reverse;
					justify-content: center;
				}


				
				  
				@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
					width: 85vw;
					margin: auto;
					padding: 10% 0;

					height: 65vh;
					
					flex-direction: column-reverse;
					justify-content: center;
				}

				div.visuals {
					width: 50%;
					height: 100%;
					display: flex;
				

					@media (max-aspect-ratio: 9/15) {
						width: 100%;
						height: 50%;
					
					}

					@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
						width: 100%;
						height: 50%;
					}

					  
					@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
						width: 100%;
						height: 50%;
					}
					
					img {
						width: 80%;
						height: auto;
						margin: auto;

						@media (max-aspect-ratio: 9/15) {
							
							height: auto;
							width: 100%;
							margin: auto;
						}

						@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
							height: auto;
							width: 100%;
							margin: auto;
						}

						  
						@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
							height: auto;
							width: 70%;
							margin: auto;
						}

						@media (min-aspect-ratio: 2/1) {
							width: 60%;
						}
				
					}

				}

				div.text {
					width: 50%;
					display: flex;
					flex-direction: column;
					justify-content: center;

					@media (max-aspect-ratio: 9/15) {
						height: auto;
						width: 100%;
					}

					@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
						height: auto;
						width: 100%;
					}

					  
					@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
						height: auto;
						width: 100%;
					}
					
					h1 {
						color: #F4A830;
						font-weight: 700;
						font-size: 1.8vw;
						margin: 0;

						@media (max-aspect-ratio: 9/15) {
							font-size: 7vw;
							line-height: 140%;
							margin: 0;
						}	

						@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
							font-size: 7vw;
							line-height: 140%;
							margin: 0;
						}

						  
						@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
							font-size: 5vw;
							line-height: 140%;
							margin: 0;
						}
					}
					p {
						color: #2e2e2e;
						font-size: 1vw;
						width:85%;
						line-height: 180%;

						@media (max-aspect-ratio: 9/15) {
							width: 100%;
							font-size: 4vw;
						
						}

						@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
							width: 100%;
							font-size: 4vw;
						}

						@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
							width: 100%;
							font-size: 3vw;
						}
					}
				}
			}
		}

		section.hdiw {
			background: white;
			width: 100vw;
			height: 100vh;
			margin: 0;
			padding: 0;
			position: relative;
			z-index: 1;

			@media (max-aspect-ratio: 9/15) {
				height: auto;
			}

			@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
				height: 145vh;
			}
			
			  
			@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
				height: 135vh;
			}
			
			article.container {
				height: 100%;
				width: 65vw;
				margin: auto;
				
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				

				@media (max-aspect-ratio: 9/15) {
					width: 85vw;
					margin: 10% auto;
					height: 130vh;
					
					flex-direction: column-reverse;
					justify-content: center;
				}

				@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
					width: 85vw;
					margin: 10% auto;
					height: 130vh;
					
					flex-direction: column-reverse;
					justify-content: center;
				}
				  
				@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
					width: 85vw;
					margin: 10% auto;

					height: auto;
					
					flex-direction: column-reverse;
					justify-content: center;
				}

				div.visuals {
					
					width: 50%;
					height: 100%;
					display: flex;

					@media (max-aspect-ratio: 9/15) {
						width: 80%;
						margin: auto;
						max-height: 60%;
						height: auto;
					}

					@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
						width: 80%;
						margin: auto;
						max-height: 60%;
						height: auto;
					}
					  
					@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
						width: 80%;
						margin: auto;
						max-height: 100%;
						height: auto;
					}
					
					img {
						width: 60%;
						height: auto;
						margin: auto;
						
						box-shadow: 5px 5px 10px 3px #00000026;
						border-radius: 20px;

						@media (max-aspect-ratio: 9/15) {
							max-width: 100%;
							width: auto;
							max-height: 100%;
							height: auto;
							margin: auto;
							align-items: center;
						}

						@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
							max-width: 100%;
							width: auto;
							max-height: 100%;
							height: auto;
							margin: auto;
							align-items: center;
						}
							
						@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
							max-width: 70%;
							width: auto;
							max-height: 70%;
							height: auto;
							margin: auto;
							align-items: center;
						}

						@media (min-aspect-ratio: 2/1) {
							width: 40%;

						}
					}
				}

				div.text {
					width: 50%;
					display: flex;
					justify-content: center;
					flex-direction: column;
					height: 100%;
					

					@media (max-aspect-ratio: 9/15) {
						width: 100%;
						height: 40%;
					}

					@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
						width: 100%;
						height: 40%;
					}

					@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
						width: 100%;
						height: 40%;
					
					}

					div.heading {
						padding: 0;
						margin: 0;

						h1 {
					
							color: #F4A830;
							font-weight: 700;
							font-size: 1.8vw;
							margin: 0;

							@media (max-aspect-ratio: 9/15) {

								font-size: 7vw;
								line-height: 140%;
								margin: 0;
							}

							@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
								font-size: 7vw;
								line-height: 140%;
								margin: 0;
							}	
							  
							@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
								font-size: 5vw;
								line-height: 140%;
								margin: 0;
							}
						}

						h2 {
							color: #2e2e2e;
							opacity: .5;
							font-size: 1.4vw;
							font-weight: 400;
							margin: 0;

							@media (max-aspect-ratio: 9/15) {
								font-size: 5vw;
								line-height: 140%;
								margin: 0;
							}

							@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
								font-size: 5vw;
								line-height: 140%;
								margin: 0;
							}	
							  
							@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
								font-size: 4vw;
								line-height: 140%;
								margin: 0;
							}
						}
					}
					p {
						color: #2e2e2e;
						font-size: 1vw;
						width:85%;
						line-height: 180%;
						padding: 1% 0 12% 0;

						@media (max-aspect-ratio: 9/15) {
							
							width: 100%;
							font-size: 4vw;
						}

						@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
							width: 100%;
							font-size: 4vw;
						}
						  
						@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
							width: 100%;
							font-size: 3vw;
							padding: 1% 0 6% 0;
						}
					}
					button.action {
						padding: 3% 15%;
						font-family: 'Oxygen', sans-serif;
						font-weight: 700;
						font-size: 1vw;
						background-color:#F4A830;
						width: 70%;
						text-decoration: none;
						border-radius: 50px;
						border: none;
						color: white;
						text-align: center;
						
						@media (max-aspect-ratio: 9/15) {
							display: none;
							font-size: 4.2vw;
							padding: 5% 15%;
							width: 100%;
						}

						@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
							display: none;
							font-size: 4.2vw;
							padding: 5% 15%;
							width: 100%;
						}
						  
						@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
							display: none;
							font-size: 2.6vw;
							padding: 3% 10%;
							width: 60%;
							margin: auto;
						}
					}

					button.action:hover {
						box-shadow: 5px 5px 10px 3px #00000026;
						cursor: pointer;
					}
				}
			}
		}
		
		section.hdiw-rev {
			background: white;
			width: 100vw;
			height: 100vh;
			margin: 0;
			padding: 0;
			position: relative;
			z-index: 1;

			@media (max-aspect-ratio: 9/15) {
				height: auto;
				margin-top: 15vh;
			}

			@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
				height: 155vh;
				margin-top: 15vh;
			}
			  
			@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
				height: 140vh;
			}
			
			article.container {
				height: 100%;
				width: 65vw;
				margin: auto;
				
				display: flex;
				flex-direction: row-reverse;
				justify-content: space-between;
				

				@media (max-aspect-ratio: 9/15) {
					width: 85vw;
					margin: 10% auto;

					height: 140vh;
					
					flex-direction: column-reverse;
					justify-content: center;
				}

				@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
					width: 85vw;
					margin: 10% auto;
					height: 130vh;
					
					flex-direction: column-reverse;
					justify-content: center;
				}
				
				@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
					width: 85vw;
					margin: 10% auto;

					height: auto;
					
					flex-direction: column-reverse;
					justify-content: center;
				}

				div.visuals {
					
					width: 50%;
					height: 100%;
					display: flex;

					@media (max-aspect-ratio: 9/15) {
						width: 80%;
						margin: auto;
						max-height: 60%;
						height: auto;
					}

					@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
						width: 80%;
						margin: auto;
						max-height: 60%;
						height: auto;
					}
					  
					@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
						width: 80%;
						margin: auto;
						max-height: 60%;
						height: auto;
					}
					

					img {
						width: 60%;
						height: auto;
						margin: auto;
						
						box-shadow: 5px 5px 10px 3px #00000026;
						border-radius: 20px;

						@media (max-aspect-ratio: 9/15) {
							max-width: 100%;
							width: auto;
							max-height: 100%;
							height: auto;
							margin: auto;
							align-items: center;
						}

						@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
							max-width: 100%;
							width: auto;
							max-height: 100%;
							height: auto;
							margin: auto;
							align-items: center;
						}
						  
						@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
							max-width: 70%;
							width: auto;
							max-height: 70%;
							height: auto;
							margin: auto;
							align-items: center;
						}

						@media (min-aspect-ratio: 2/1) {
							width: 40%;

						}
					}
				}

				div.text {
					width: 50%;
					display: flex;
					justify-content: center;
					flex-direction: column;
					height: 100%;
					margin-bottom: 15%;

					@media (max-aspect-ratio: 9/15) {
						width: 100%;
						height: 40%;
					}

					@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
						width: 100%;
						height: 40%;
					}
							  
					@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
						width: 100%;
						height: 40%;
					}

					div.heading {
						padding: 0;
						margin: 0;

						h1 {
					
							color: #F4A830;
							font-weight: 700;
							font-size: 1.8vw;
							margin: 0;

							@media (max-aspect-ratio: 9/15) {

								font-size: 7vw;
								line-height: 140%;
								margin: 0;
							}
							
							@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
								font-size: 7vw;
								line-height: 140%;
								margin: 0;
							}			
							  
							@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
								font-size: 5vw;
								line-height: 140%;
								margin: 0;
							}
						}

						h2 {
							color: #2e2e2e;
							opacity: .5;
							font-size: 1.4vw;
							font-weight: 400;
							margin: 0;

							@media (max-aspect-ratio: 9/15) {
								font-size: 5vw;
								line-height: 140%;
								margin: 0;
							}

							@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
								font-size: 5vw;
								line-height: 140%;
								margin: 0;
							}	
							  
							@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
								font-size: 4vw;
								line-height: 140%;
								margin: 0;
							}
						}
					}
					p {
						color: #2e2e2e;
						font-size: 1vw;
						width:85%;
						line-height: 180%;
						padding: 1% 0 12% 0;

						@media (max-aspect-ratio: 9/15) {
							
							width: 100%;
							font-size: 4vw;
						}

						@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
							width: 100%;
							font-size: 4vw;
						}						
						  
						@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
							width: 100%;
							font-size: 3vw;
							padding: 1% 0 6% 0;
						}
					}
					button.action {
						padding: 3% 15%;
						font-family: 'Oxygen', sans-serif;
						font-weight: 700;
						font-size: 1vw;
						background-color:#F4A830;
						width: 70%;
						text-decoration: none;
						border-radius: 50px;
						border: none;
						color: white;
						text-align: center;
						
						@media (max-aspect-ratio: 9/15) {
							display: none;
							font-size: 4.2vw;
							padding: 5% 15%;
							width: 100%;
						}

						@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
							display: none;
							font-size: 4.2vw;
							padding: 5% 15%;
							width: 100%;
						}
						  
						@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
							display: none;
							font-size: 2.6vw;
							padding: 3% 10%;
							width: 60%;
							margin: auto;
						}
					}

					button.action:hover {
						box-shadow: 5px 5px 10px 3px #00000026;
						cursor: pointer;
					}
				}
			}
		}

		section.world {
			background: #fafafa;
			width: 100vw;
			height: auto;
			margin: 0;
			padding: 0;
			position: relative;
			z-index: 1;

			article.container {
				
				width: 65vw;
				margin: auto;
				height: 50vh;
				display: flex;
				flex-direction: row;
				

				@media (max-aspect-ratio: 9/15) {
					width: 85vw;
					margin: auto;
					padding: 10% 0;

					height: 80vh;
					
					flex-direction: column-reverse;
					justify-content: center;
				}

				@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
					width: 85vw;
					margin: auto;
					padding: 10% 0;

					height: 80vh;
					
					flex-direction: column-reverse;
					justify-content: center;
				}

				
				  
				@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
					width: 85vw;
					margin: auto;
					padding: 10% 0;

					height: 65vh;
					
					flex-direction: column-reverse;
					justify-content: center;
				}

				div.visuals {
					width: 50%;
					height: 100%;
					display: flex;
				

					@media (max-aspect-ratio: 9/15) {
						width: 100%;
						height: 50%;
					}

					@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
						width: 100%;
						height: 50%;
					}

					  
					@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
						width: 100%;
						height: 50%;
					}
					
					img {
						width: 80%;
						height: auto;
						margin: auto;

						@media (max-aspect-ratio: 9/15) {
							
							height: auto;
							width: 100%;
							margin: auto;
						}

						@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
							height: auto;
							width: 100%;
							margin: auto;
						}

						  
						@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
							height: auto;
							width: 70%;
							margin: auto;
						}

						@media (min-aspect-ratio: 2/1) {
							width: 60%;
						}
				
					}

				}

				div.text {
					width: 50%;
					display: flex;
					flex-direction: column;
					justify-content: center;

					@media (max-aspect-ratio: 9/15) {
						height: auto;
						width: 100%;
					}

					@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
						height: auto;
						width: 100%;
					}

					  
					@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
						height: auto;
						width: 100%;
					}
					
					h1 {
						color: #F4A830;
						font-weight: 700;
						font-size: 1.8vw;
						margin: 0;

						@media (max-aspect-ratio: 9/15) {
							font-size: 7vw;
							line-height: 140%;
							margin: 0;
						}	

						@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
							font-size: 7vw;
							line-height: 140%;
							margin: 0;
						}
						  
						@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
							font-size: 5vw;
							line-height: 140%;
							margin: 0;
						}
					}
					p {
						color: #2e2e2e;
						font-size: 1vw;
						width:85%;
						line-height: 180%;

						@media (max-aspect-ratio: 9/15) {
							width: 100%;
							font-size: 4vw;
						
						}
						
						@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
							width: 100%;
							font-size: 4vw;
						}
						  
						@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
							width: 100%;
							font-size: 3vw;
						}
					}
				}
			}
		}

		section.form-page {
			background: white;
			width: 100vw;
			height: auto;
			margin: 0;
			padding: 0;
			position: relative;
			z-index: 1;

			article.container {
				
				width: 65vw;
				margin: 0 auto;
				height: 75vh;
				display: flex;
				flex-direction: row-reverse;
				

				@media (max-aspect-ratio: 9/15) {
					width: 85vw;
					margin: 0 auto;
					padding: 0;

					height: 110vh;
					
					flex-direction: column-reverse;
					justify-content: center;
				}

				@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
					width: 85vw;
					margin: 0 auto;
					padding: 0;

					height: 115vh;
					
					flex-direction: column-reverse;
					justify-content: center;
				}
				  
				@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
					width: 85vw;
					margin: auto;
					padding: 10% 0;

					height: 73vh;
					
					flex-direction: column-reverse;
					justify-content: center;
				}

				div.form {
					width: 50%;
					display: flex;
					flex-direction: column;
					justify-content: center;

					@media (max-aspect-ratio: 9/15) {
						width: 100%;
						height: 55%;
					}

					@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
						width: 100%;
						height: 55%;
						
					}
					  
					@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4) {
						width: 70%;
						height: 55%;
						margin: auto;
					}


					form {
						
						width: 100%;
						height: auto;

						@media (max-aspect-ratio: 9/15) {
							height: 100%;
						}

						@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
							height: 100%;
							
						}

						@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4) {
							height: 100%;
						}
						
						/* Add a background color and some padding around the form */
						border-radius: 5px;
						background-color: white;
						padding: 0;

						label {
							font-family: 'Oxygen', sans-serif;
							font-size: 80%;
							color:#2e2e2e;
							
						}

						/* Style inputs with type="text", select elements and textareas */
						input[type=text], input[type=email] {
							background-color: #fafafa;
							font-family: 'Oxygen', sans-serif;
							width: 100%; /* Full width */
							padding: 12px; /* Some padding */  
							border: 1px solid #efefef; /* Gray border */
							border-radius: 50px; /* Rounded borders */
							box-sizing: border-box; /* Make sure that padding and width stays in place */
							margin: 1% 0; /* Add a top margin */
							margin-bottom: 1%; /* Bottom margin */

							@media (max-aspect-ratio: 9/15) {
								margin: 1% 0;

							}
							@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
								margin: 1% 0;
								
							}
						}

						select {
							margin: 1% 0%;
							height: 12%;
							width: 100%;
							color: #2e2e2e;
							background-color: #fafafa;
							border: 1px solid #efefef;
							display: block;
							border-radius: 50px;
							padding: 0 10px;


							@media (max-aspect-ratio: 9/15) {
								margin: 1% 0;

							}

							@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
								margin: 1% 0;
								
							}
							  
							@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4) {
								margin: 1% 0;
							}

							
						}
						
						/* Style the submit button with a specific background color etc */
						input[type=submit] {
							font-family: 'Oxygen', sans-serif;
							font-weight: 700;
							font-size: 1vw;
							background-color: #F4A830;
							color: white;
							padding: 8px 10px;
							width: 50%;
							display: block;
							margin: 3% auto;
							border: none;
							border-radius: 50px;
							cursor: pointer;

							@media (max-aspect-ratio: 9/15) {
								font-size: 3vw;
								width: 80%;
								padding: 12px 10px;
								
							}

							@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
								font-size: 3vw;
								width: 80%;
								padding: 15px 10px;
								
							}

							  
							@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4) {
								font-size: 2vw;
								width: 80%;
								padding: 12px 10px;
							}
						}
						
						/* When moving the mouse over the submit button, add a darker green color */
						input[type=submit]:hover {
							box-shadow: 2px 2px 5px 1.5px #00000026;
						}

						p {
							color: green;
							width: 100%;
							display: none;
							font-size: 1vw;
							margin-bottom: 3%;
							
						}
		
					}
				}

				div.text {
					width: 50%;
					display: flex;
					flex-direction: column;
					justify-content: center;

					@media (max-aspect-ratio: 9/15) {
						height: auto;
						width: 100%;
					
					}

					@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
						height: auto;
						width: 100%;
					}
					  
					@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
						height: auto;
						width: 100%;
					}
					
					h1 {
						color: #F4A830;
						font-weight: 700;
						font-size: 1.8vw;
						margin: 0;

						@media (max-aspect-ratio: 9/15) {
							font-size: 7vw;
							line-height: 140%;
							margin: 0;
						}	

						@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
							font-size: 7vw;
							line-height: 140%;
							margin: 0;
						}
						  
						@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
							font-size: 5vw;
							line-height: 140%;
							margin: 0;
						}
					}

					p {
						color: #2e2e2e;
						font-size: 1vw;
						width:85%;
						line-height: 180%;
						margin-bottom: 6vh;

						@media (max-aspect-ratio: 9/15) {
							width: 100%;
							font-size: 4vw;
						
						}

						@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
							width: 100%;
							font-size: 4vw;
						}
						  
						@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)  {
							width: 100%;
							font-size: 3vw;
						}
					}

					img.logo {
						width: 50%;

						@media (max-aspect-ratio: 9/15) {
							display: none;
						}

						@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
							display: none;
						}
						  
						@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4) {
							display: none;
						}
					}
				}
			}
		}

		section.footer {
			background: rgb(244,168,48);
			background: linear-gradient(315deg, rgba(244,168,48,1) 0%, rgba(247,194,110,1) 100%);
			width: 100vw;
			height: auto;
			margin: 0;
			padding: 0;

			article.container {
				width: 65vw;
				margin: 0 auto;
				height: 15vh;
				display: flex;
				flex-direction: row;
				justify-content: center;

				@media (max-aspect-ratio: 9/15) {
					flex-direction: column;
					height: 15vh
				}

				@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
					flex-direction: column;
					height: 15vh
				}

				@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4) {
					flex-direction: column;
					height: 10vh
				}
				
				a.social {
					width: 50%;
					text-decoration: none;
					color: white;

					@media (max-aspect-ratio: 9/15) {
						width: 100%;
						justify-content: space-around;
					}

					@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
						width: 100%;
						justify-content: space-around;
					}

					@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4) {
						width: 100%;
						justify-content: space-around;
					}

					h1 {
						display: block;
						font-size: 1vw;
						width: 100%;

						@media (max-aspect-ratio: 9/15) {
							text-align: center;
							font-size: 3vw;
						}

						@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
							text-align: center;
							font-size: 3vw;
						}
						  
						@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4) {
							text-align: center;
							font-size: 1.8vw;
						}
					}
				}

				div.copyright {
					width: 50%;

					@media (max-aspect-ratio: 9/15) {
						width: 100%;
					}

					@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
						width: 100%;
					}

					@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4) {
						width: 100%;
					}

					h1 {
						width: 100%;
						text-align: right;
						font-size: 1vw;

						@media (max-aspect-ratio: 9/15) {
							text-align: center;
							font-size: 3vw;
						}

						@media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 3/4) {
							text-align: center;
							font-size: 3vw;
						}

						  
						@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4) {
							text-align: center;
							font-size: 1.8vw;
						}
					}
				}
			}
		}
	}
}